<h2>Password Reset</h2>
<%= form_tag password_reset_index_path, method: :post do %>

  <div class="form-group row">
    <%= label_tag :email %>
    <%= email_field_tag :email, params[:email], class:"form-control" %>
  </div>
  <small>Enter email on which password reset link will be sent</small>
  <div class="actions"><%= submit_tag "Reset Password", class:"btn btn-primary" %></div>
<% end %>
