<h1>Orders</h1>

<% if @orders.empty? %>
  <h3> There are no orders created right now</h3>
<% else %>
  <table class="table table-hover">
    <%= paginate @orders %>
    <tbody>
      <% @orders.each do |order| %>
      <tr class="table-info">
        <td>
          <h3><%= order.workflow_state %></h3>
        </td>
        <td>
          <%= number_to_currency(order.total_price) %>
        </td>
        <td><%= order.order_placed_at %></td>
      </tr>
      <% end %>

    </tbody>
  </table>
<% end %>
