body{
  .sessions {
    .flashsale-form {
      width: 50%;
      text-align: center;

      .checkbox_field {
        align-items: center;
        .col-md-1 {
          margin-left: 40%;
        }
        .col-md-4 {
          display: contents;
        }
      }
    }
  }
}
