<%= form.fields_for :images do |image| %>
<div class="input-group mb-3", id="imageInput">
  <div class="custom-file">
    <%= form.file_field :images, class:"custom-file-input" %>
    <%= form.label :images, "Choose an image to be uploaded", class:"custom-file-label" %>
  </div>
  <div class="input-group-append">
    <span class="input-group-text" id="">Upload</span>
  </div>
</div>
<% end %>
