<h1 class="col-md-6 offset-md-5">Editing deal</h1>

<div class="jumbotron col-md-6 offset-md-3">
  <%= render 'form', deal: @deal %>
</div>

<%= link_to 'Show', @deal %> |
<%= link_to 'Back', admin_deals_path %>
