<h1 class="col-md-6 offset-md-5">New Deal</h1>

<div class="jumbotron col-md-6 offset-md-3">
  <%= render 'form', deal: @deal %><br>
  <%= link_to 'Cancel', admin_deals_path, class:'btn btn-info float-left col-md-2' %>
</div>
