<% if errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h2><%= pluralize(errors.count, "error") %> prohibited this <%= controller.controller_name.singularize %> from being saved:</h2>

    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
